	
body{
	margin: 0;	
	}
#sidebar{
width: 30%;
background-color: #EEEEEE;
height: 1100px;
float: left;
margin: 0;
}
	
	
#maincontent
{
width: 70%;
background-image:url("wood.jpg");
background-size: 100% 100%;
height: 1100px;
float:left;
margin-bottom:0 ;
margin-right:0 ;
margin-top: 0;
margin-right: 0;
overflow:auto;
	}
	
#contntheadre
{
width: 100%;
height: 30px;
background-color: rgba(60,45,38,0.8);
border: 0px outset rgba(60,45,38,0.8) ;
text-align: center;
color: #F7F6F5;
font-family: arial;
font-size: 26px;
font-weight: bold;
padding-top: 10px;
padding-bottom: 10px;
text-shadow: 0px 2px 3px #FFF;
	}
	
#additem{
-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;
	     box-sizing: border-box;
width: 96%;
margin-top: 25px;
margin-right: 2%;
margin-left: 2%;
outline: none;
border:0 solid black;
height: 45px;
border: 0px none #000000;
color: white;
padding: 10px;
outline:none;
   -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
         border-radius: 5px;
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4) inset, 0px 1px 0px rgba(255, 255, 255, 0.4);
background-color:rgba(0,0,0,0.3);
	}
	
#additem:focus
{
box-shadow: 0 0 5px rgba(255, 255, 255, 1);
-webkit-box-shadow: 0 0 5px rgba(255, 255, 255, 1); 
-moz-box-shadow: 0 0 5px rgba(255, 255, 255, 1); 	
}

	
	
#fixlabel
{
-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;
	     box-sizing: border-box;
font-family: Arial;
font-size: 3vw;	
width: 100%;
height: 60px;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 25px;
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
color: rgba(0,0,0,0.6);
overflow: hidden;
}
	
	
	
#label1{
display: block;
text-decoration: none;
-webkit-box-sizing: border-box; 
-moz-box-sizing: border-box;
box-sizing: border-box;
width: 100%;
height: 40px;
background-color: #6EA1CE;
padding-left: 10px;
padding-right: 0;
padding-top: 10px;
padding-bottom:10px ;
color: #fFF;
font-family: arial;
font-weight: bold;
font-size: 14px;
box-shadow: inset 0px 1px 1px 1px rgba(0,0,0,0.3);
overflow:hidden;
}
#label1 img{
margin-bottom: -5px;	
	}
	
	
#todoitemscount
{
-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;
	     box-sizing: border-box;
display:inline;
float:right;
color:#6EA1CE;
background-color:#FFF;
height:20px;
width:20px;
text-align:center;
padding:3px;
font-size:14px;
margin-right:20px;
-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}

*{
margin:0;
padding:0;
}

body{
font-size:0.825em;
color:#666;
background-color:#fff;
font-family:Arial, Helvetica, sans-serif;
}


ul.todoList{
	margin:0 auto;
	width:96%;
	position:relative;
}

ul.todoList li{
	
	background: -webkit-linear-gradient(top, rgb(253, 253, 253) 0%, rgb(222, 222, 222) 100%);
	background: -o-linear-gradient(top, rgb(253, 253, 253) 0%, rgb(222, 222, 222) 100%);
	background: -ms-linear-gradient(top, rgb(253, 253, 253) 0%, rgb(222, 222, 222) 100%);
	background: -moz-linear-gradient(top, rgb(253, 253, 253) 0%, rgb(222, 222, 222) 100%);
	background: linear-gradient(to bottom, rgb(253, 253, 253) 0%, rgb(222, 222, 222) 100%);
	list-style:none;
	margin-top:5px ;
	margin-bottom: : 5px;
	padding:6px 9px;
	position:relative;
	cursor:move;
	color:#FFF;
	text-shadow:1px 1px 0 white;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
}

ul.todoList li:hover
{
	border-color:#9be0f9;
	-moz-box-shadow:0 0 5px #A6E5FD;
	-webkit-box-shadow:0 0 5px #A6E5FD;
	box-shadow:0 0 5px #A6E5FD;
}

.todo .text{
	color:#777777;
	font-size:1.4em;
	display: inline;
	line-height: 25px;
}



#button{
cursor:pointer;
border:1px solid #000;
padding: 8px;
-webkit-border-radius: 3px;
border-radius: 5px; 
-webkit-box-shadow: 0 0 10px #000;
        box-shadow: 0 0 10px #000;
float: left;
margin-left: 20px;
	}
	
.itemDelete
{

display:block;
height:20px ;
width: 20px;
float: right;
margin-right:10px;
background-image: url(deleteicon.png);
background-repeat: no-repeat;
}	

/*
@media only screen and (max-width: 760px) {
    #sidebar{
        display: none;
    }
    #maincontent{
    width:100%;
    }
}
*/

